body {
    margin: 0;
    font-family: verdana, Arial, Helvetica, sans-serif;
}

.quiz {
    margin: 0 auto;
    width: 600px;
}

.quiz-questions,
.quiz-indicator,
.quiz-results {
    margin-bottom: 20px;
}

.quiz-questions-item {
    margin-bottom: 40px;
}

.quiz-questions-item__question,
.quiz-results-item__question {
    font-size: 25px;
    margin-bottom: 20px;    
}

.quiz-questions-item__answers,
.quiz-results-item__answers {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
}

.quiz-indicator {}

.btn-next {}

.quiz-results {
    display: none;
}

.btn-restart {
    display: none;
}

.questions--hidden,
.indicator--hidden,
.btn-next--hidden {
    display: none;
}

.indicator--visible,
.btn-restart--visible {
    display: block;
}

.answer--invalid {
    color: red;
}



.answer--valid {
    color: green;
}